<section id="contact" class="contact inactive">
    <div>
        <h2>Contact Me</h2>
        <div class="contact__list">

            <div class="contact__email">
                <i class="fas fa-envelope"></i> Email
                <div class="t-secondary">cheeagno@gmail.com</div>
            </div>

            <div class="contact__phone">
                <i class="fas fa-mobile-alt"></i> Phone
                <div class="t-secondary">0906291956</div>
            </div>

            <div class="contact__address">
                <i class="fas fa-map-marker-alt"></i> Address
                <div class="t-secondary">Taiwan, Taipei</div>
            </div>

        </div>

    </div>


</section>


