<div class="social-icons">
    <a href="">
        <i class="fab fa-twitter fa-2x"></i>
    </a>
    <a href="">
        <i class="fab fa-facebook fa-2x"></i>
    </a>
    <a href="">
        <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="">
        <i class="fab fa-github fa-2x"></i>
    </a>
</div>

</main>

<footer>
    &copy; Copyright 2021
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../javascripts/main.js"></script>

</body>
</html>
